body {
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 20px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

p {
  font-family: Roboto;
}

.navbar {
  background: #000;
  border: 0;
  font-family: Poppins;
  font-size: 22px;
  color: #000 !important;
}

.navbar-brand {
  font-size: 32px;
}

#showcase {
  margin-top: 20px;
}

#testimonial {
  background-color: #f1f1f1;
  padding: 30px 0 30px 0;
  text-align: center;
  margin-top: 0px;
}

#testimonial p {
  font-size: 32px;
  font-family: 'Josefin Sans';
  color: #000;
}

#testimonial p.customer {
  font-size: 20px;
  color: #666;
}

.forms {
  margin-left: 150px;
}
